:root {
/*  --clr-primary-200: #f3eed9;*/
  --clr-primary-200: #f8f5e6;
  --clr-primary-300: #c5d5cb;
  --clr-primary-400: #824936;

  --clr-neutral-100: #bdc3c7;
  --clr-neutral-900: #163730;

  --ff-accent: 'Merriweather', sans-serif;
  --ff-primary: 'Roboto', serif;
}

html,
body {
  font-family: var(--ff-primary);
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}

.text-center {
  text-align: center;
}

header,
section {
  padding: 3rem 0;
}

@media (min-width: 40em) {
  header,
  section {
    padding: 7rem 0;
  }
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.sky-bg-yellow {
  background-color: var(--clr-primary-200);
}
.sky-dk-yellow {
  background-color: var(--clr-primary-300);
}
.sky-bg-brown {
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-400);
}
.sky-bg-green {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}

.sky-banner {
  color: rgba(7, 7, 124, 0.1);
  background-color:rgba(156, 199, 240, 0.7);
}

h1,
h2,
h3 {
  color: var(--clr-primary-400);
  font-family: var(--ff-accent);
  font-weight: 700;
  font-style: italic;
  line-height: 1;
}

h2,
h3,
p {
  margin-bottom: 1em;
}

img {
  display: block;
  max-width: 95%;
  margin-left: 1em;
}

.border-bottom {
  border-bottom: 1px solid #88a4c0 !important;
}
.sky-container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
  padding: 1rem;
}

.sky-split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 40am) {
  .sky-split {
    flex-direction: row;
  }

  .sky-split > * {
    flex-basis: 100%;
  }

  .sky-split > * + * {
    margin-left: 2em;
  }
}

/* ===================
   CONTACT US FORM
   =================== */

   .contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 500px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .7);
    padding: 2em;
    background-color: #faf6e8;
  }
  
  .form-group {
    margin-bottom: 1.5em;
  }
  
  .form-label {
    font-size: .75em;
    color: red;
    display: block;
    opacity: 0;
    transition: all .3s;
    transform: translateX(-50px);
  }
  
  .form-control {
    box-shadow: none;
    border-radius: 0;
    border-color: #ccc;
    border-style: none none solid none;
    width: 100%;
    font-size: 1.25em;
    transition: all .6s;
  }
  
  .form-control::placeholder {
    color: #aaa;
  }
  
  .form-control:focus {
    box-shadow: none;
    border-color: blue;
    outline: none;
  }
  
  .form-group:focus-within {
    transform: scale(1.1,1.1);
  }
  
  .form-control:invalid:focus {
    border-color: red;
  }
  
  .form-control:valid:focus {
    border-color: green;
  }
  
  .bttn {
    background: 0 0 #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
    color: red;
    font-size: 1em;
    padding: 10 50px;
    text-transform: uppercase;
  }
  
  .bttn:hover {
    border-color: blue;
    color: blue;
    background-color: rgb(214, 226, 236);
    transition: .3s ease background-color;
  }
  
  textarea {
    resize: none;
  }
  
  .focused > .form-label {
    opacity: 1;
    transform: translateX(0px);
  }
  